:root {

--ease:cubic-bezier(.4,0,.2,1);

--animation-fast:.25s;

--animation-normal:.45s;

--animation-slow:.75s;

}
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .8s ease, transform .8s ease;
    will-change: opacity, transform;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
